.title {
  position: relative;
  display: block;
  font-weight: bold;
  left: 10%;
}

.authorTime {
  position: relative;
  display: block;
  left: 15%;
  font-style: italic;
}

.picture img{

  width: 15%;
  float:left;
  border-radius: 15%;
  margin-top: 5px;
}

.thumbnail {
  height: 25%;
  min-height: 115px;
}

nav {
  text-align: center;
}

/* button centered or make rotating carosel to click o with different update link */
.btn {
  left: 50%;
}

/* thumbnail media query to make sure it never goes below %picture */
