<html ng-app="myModule">

<head>

<!-- lol doesn't exist for now <link rel = "stylesheet" type = "text/css" href = "style.css"/> -->
</head>

<body>

<!-- give it a class f controller and it will display as intended -->
<div class ="container" ng-controller = "ctrl1"> <div class = "row">
<nav>
   <!-- <a ng-click="showReddit()">Click the button!</a> WILL WORK -->
   <div ng-controller="DropdownCtrl">
    <!-- Simple dropdown -->
    <span uib-dropdown on-toggle="toggled(open)">
      <a href id="simple-dropdown" uib-dropdown-toggle>
        Click me for a dropdown, yo!
      </a>
      <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
        <li ng-repeat="choice in items">
          <!-- in case things stop working -->
          <a ng-click="showReddit()" ng-model="choice.id">{{choice.name}}</a>
              <script> console.log(choice.name) </script>
        </li>
      </ul>
    </span>
</div>
<!--end of dropdown -->
  <a href='#/view2'>See the posts!</a>
</nav>
</div></div>

<hr>
<ng-view></ng-view>

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-animate.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-touch.js"></script>

<!-- ui bootstrap, right place? -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src = 'scripts/module.js'> </script>
<script src = 'scripts/factory.js'> </script>
<script src = 'scripts/controller1.js'> </script>
<script src = 'scripts/controller2.js'> </script>
<script src="scripts/ui-bootstrap-tpls-2.5.0.min.js"></script>
<!-- having at the end so this way it will have all the anuglar bootsrap elements-->
<link rel="stylesheet" href="css/uiStyle.css" />
<!-- additional js file for -->
<script src = 'scripts/uiControl.js'> </script>


</body>

</html>
